@{
    ViewBag.Title = "Icons";
}
<div class="row-fluid">
    <div class="span12">
        <h1>Icon Page</h1>
        <p>
            <a href="@Url.Action("Index")">@Html.BootstrapIcon(Icon.icon_arrow_left) Home</a>
        </p>
    </div>
</div>
<div class="row-fluid">
    <div class="span3">
        <ul class="the-icons">
            <li>@Html.BootstrapIcon(Icon.icon_glass) icon-glass</li>
            <li>@Html.BootstrapIcon(Icon.icon_music) icon-music</li>
            <li>@Html.BootstrapIcon(Icon.icon_search) icon-search</li>
            <li>@Html.BootstrapIcon(Icon.icon_envelope) icon-envelope</li>
            <li>@Html.BootstrapIcon(Icon.icon_heart) icon-heart</li>
            <li>@Html.BootstrapIcon(Icon.icon_star) icon-star</li>
            <li>@Html.BootstrapIcon(Icon.icon_star_empty) icon-star-empty</li>
            <li>@Html.BootstrapIcon(Icon.icon_user) icon-user</li>
            <li>@Html.BootstrapIcon(Icon.icon_film) icon-film</li>
            <li>@Html.BootstrapIcon(Icon.icon_th_large) icon-th-large</li>
            <li>@Html.BootstrapIcon(Icon.icon_th) icon-th</li>
            <li>@Html.BootstrapIcon(Icon.icon_th_list) icon-th-list</li>
            <li>@Html.BootstrapIcon(Icon.icon_ok) icon-ok</li>
            <li>@Html.BootstrapIcon(Icon.icon_remove) icon-remove</li>
            <li>@Html.BootstrapIcon(Icon.icon_zoom_in) icon-zoom-in</li>
            <li>@Html.BootstrapIcon(Icon.icon_zoom_out) icon-zoom-out</li>
            <li>@Html.BootstrapIcon(Icon.icon_off) icon-off</li>
            <li>@Html.BootstrapIcon(Icon.icon_signal) icon-signal</li>
            <li>@Html.BootstrapIcon(Icon.icon_cog) icon-cog</li>
            <li>@Html.BootstrapIcon(Icon.icon_trash) icon-trash</li>
            <li>@Html.BootstrapIcon(Icon.icon_home) icon-home</li>
            <li>@Html.BootstrapIcon(Icon.icon_file) icon-file</li>
            <li>@Html.BootstrapIcon(Icon.icon_time) icon-time</li>
            <li>@Html.BootstrapIcon(Icon.icon_road) icon-road</li>
            <li>@Html.BootstrapIcon(Icon.icon_download_alt) icon-download-alt</li>
            <li>@Html.BootstrapIcon(Icon.icon_download) icon-download</li>
            <li>@Html.BootstrapIcon(Icon.icon_upload) icon-upload</li>
            <li>@Html.BootstrapIcon(Icon.icon_inbox) icon-inbox</li>
            <li>@Html.BootstrapIcon(Icon.icon_play_circle) icon-play-circle</li>
            <li>@Html.BootstrapIcon(Icon.icon_repeat) icon-repeat</li>
            <li>@Html.BootstrapIcon(Icon.icon_refresh) icon-refresh</li>
            <li>@Html.BootstrapIcon(Icon.icon_list_alt) icon-list-alt</li>
            <li>@Html.BootstrapIcon(Icon.icon_lock) icon-lock</li>
            <li>@Html.BootstrapIcon(Icon.icon_flag) icon-flag</li>
            <li>@Html.BootstrapIcon(Icon.icon_headphones) icon-headphones</li>
        </ul>
    </div>
    <div class="span3">
        <ul class="the-icons">
            <li>@Html.BootstrapIcon(Icon.icon_volume_off) icon-volume-off</li>
            <li>@Html.BootstrapIcon(Icon.icon_volume_down) icon-volume-down</li>
            <li>@Html.BootstrapIcon(Icon.icon_volume_up) icon-volume-up</li>
            <li>@Html.BootstrapIcon(Icon.icon_qrcode) icon-qrcode</li>
            <li>@Html.BootstrapIcon(Icon.icon_barcode) icon-barcode</li>
            <li>@Html.BootstrapIcon(Icon.icon_tag) icon-tag</li>
            <li>@Html.BootstrapIcon(Icon.icon_tags) icon-tags</li>
            <li>@Html.BootstrapIcon(Icon.icon_book) icon-book</li>
            <li>@Html.BootstrapIcon(Icon.icon_bookmark) icon-bookmark</li>
            <li>@Html.BootstrapIcon(Icon.icon_print) icon-print</li>
            <li>@Html.BootstrapIcon(Icon.icon_camera) icon-camera</li>
            <li>@Html.BootstrapIcon(Icon.icon_font) icon-font</li>
            <li>@Html.BootstrapIcon(Icon.icon_bold) icon-bold</li>
            <li>@Html.BootstrapIcon(Icon.icon_italic) icon-italic</li>
            <li>@Html.BootstrapIcon(Icon.icon_text_height) icon-text-height</li>
            <li>@Html.BootstrapIcon(Icon.icon_text_width) icon-text-width</li>
            <li>@Html.BootstrapIcon(Icon.icon_align_left) icon-align-left</li>
            <li>@Html.BootstrapIcon(Icon.icon_align_center) icon-align-center</li>
            <li>@Html.BootstrapIcon(Icon.icon_align_right) icon-align-right</li>
            <li>@Html.BootstrapIcon(Icon.icon_align_justify) icon-align-justify</li>
            <li>@Html.BootstrapIcon(Icon.icon_list) icon-list</li>
            <li>@Html.BootstrapIcon(Icon.icon_indent_left) icon-indent-left</li>
            <li>@Html.BootstrapIcon(Icon.icon_indent_right) icon-indent-right</li>
            <li>@Html.BootstrapIcon(Icon.icon_facetime_video) icon-facetime-video</li>
            <li>@Html.BootstrapIcon(Icon.icon_picture) icon-picture</li>
            <li>@Html.BootstrapIcon(Icon.icon_pencil) icon-pencil</li>
            <li>@Html.BootstrapIcon(Icon.icon_map_marker) icon-map-marker</li>
            <li>@Html.BootstrapIcon(Icon.icon_adjust) icon-adjust</li>
            <li>@Html.BootstrapIcon(Icon.icon_tint) icon-tint</li>
            <li>@Html.BootstrapIcon(Icon.icon_edit) icon-edit</li>
            <li>@Html.BootstrapIcon(Icon.icon_share) icon-share</li>
            <li>@Html.BootstrapIcon(Icon.icon_check) icon-check</li>
            <li>@Html.BootstrapIcon(Icon.icon_move) icon-move</li>
            <li>@Html.BootstrapIcon(Icon.icon_step_backward) icon-step-backward</li>
            <li>@Html.BootstrapIcon(Icon.icon_fast_backward) icon-fast-backward</li>
        </ul>
    </div>
    <div class="span3">
        <ul class="the-icons">
            <li>@Html.BootstrapIcon(Icon.icon_backward) icon-backward</li>
            <li>@Html.BootstrapIcon(Icon.icon_play) icon-play</li>
            <li>@Html.BootstrapIcon(Icon.icon_pause) icon-pause</li>
            <li>@Html.BootstrapIcon(Icon.icon_stop) icon-stop</li>
            <li>@Html.BootstrapIcon(Icon.icon_forward) icon-forward</li>
            <li>@Html.BootstrapIcon(Icon.icon_fast_forward) icon-fast-forward</li>
            <li>@Html.BootstrapIcon(Icon.icon_step_forward) icon-step-forward</li>
            <li>@Html.BootstrapIcon(Icon.icon_eject) icon-eject</li>
            <li>@Html.BootstrapIcon(Icon.icon_chevron_left) icon-chevron-left</li>
            <li>@Html.BootstrapIcon(Icon.icon_chevron_right) icon-chevron-right</li>
            <li>@Html.BootstrapIcon(Icon.icon_plus_sign) icon-plus-sign</li>
            <li>@Html.BootstrapIcon(Icon.icon_minus_sign) icon-minus-sign</li>
            <li>@Html.BootstrapIcon(Icon.icon_remove_sign) icon-remove-sign</li>
            <li>@Html.BootstrapIcon(Icon.icon_ok_sign) icon-ok-sign</li>
            <li>@Html.BootstrapIcon(Icon.icon_question_sign) icon-question-sign</li>
            <li>@Html.BootstrapIcon(Icon.icon_info_sign) icon-info-sign</li>
            <li>@Html.BootstrapIcon(Icon.icon_screenshot) icon-screenshot</li>
            <li>@Html.BootstrapIcon(Icon.icon_remove_circle) icon-remove-circle</li>
            <li>@Html.BootstrapIcon(Icon.icon_ok_circle) icon-ok-circle</li>
            <li>@Html.BootstrapIcon(Icon.icon_ban_circle) icon-ban-circle</li>
            <li>@Html.BootstrapIcon(Icon.icon_arrow_left) icon-arrow-left</li>
            <li>@Html.BootstrapIcon(Icon.icon_arrow_right) icon-arrow-right</li>
            <li>@Html.BootstrapIcon(Icon.icon_arrow_up) icon-arrow-up</li>
            <li>@Html.BootstrapIcon(Icon.icon_arrow_down) icon-arrow-down</li>
            <li>@Html.BootstrapIcon(Icon.icon_share_alt) icon-share-alt</li>
            <li>@Html.BootstrapIcon(Icon.icon_resize_full) icon-resize-full</li>
            <li>@Html.BootstrapIcon(Icon.icon_resize_small) icon-resize-small</li>
            <li>@Html.BootstrapIcon(Icon.icon_plus) icon-plus</li>
            <li>@Html.BootstrapIcon(Icon.icon_minus) icon-minus</li>
            <li>@Html.BootstrapIcon(Icon.icon_asterisk) icon-asterisk</li>
            <li>@Html.BootstrapIcon(Icon.icon_exclamation_sign) icon-exclamation-sign</li>
            <li>@Html.BootstrapIcon(Icon.icon_gift) icon-gift</li>
            <li>@Html.BootstrapIcon(Icon.icon_leaf) icon-leaf</li>
            <li>@Html.BootstrapIcon(Icon.icon_fire) icon-fire</li>
            <li>@Html.BootstrapIcon(Icon.icon_eye_open) icon-eye-open</li>
        </ul>
    </div>
    <div class="span3">
        <ul class="the-icons">
            <li>@Html.BootstrapIcon(Icon.icon_eye_close) icon-eye-close</li>
            <li>@Html.BootstrapIcon(Icon.icon_warning_sign) icon-warning-sign</li>
            <li>@Html.BootstrapIcon(Icon.icon_plane) icon-plane</li>
            <li>@Html.BootstrapIcon(Icon.icon_calendar) icon-calendar</li>
            <li>@Html.BootstrapIcon(Icon.icon_random) icon-random</li>
            <li>@Html.BootstrapIcon(Icon.icon_comment) icon-comment</li>
            <li>@Html.BootstrapIcon(Icon.icon_magnet) icon-magnet</li>
            <li>@Html.BootstrapIcon(Icon.icon_chevron_up) icon-chevron-up</li>
            <li>@Html.BootstrapIcon(Icon.icon_chevron_down) icon-chevron-down</li>
            <li>@Html.BootstrapIcon(Icon.icon_retweet) icon-retweet</li>
            <li>@Html.BootstrapIcon(Icon.icon_shopping_cart) icon-shopping-cart</li>
            <li>@Html.BootstrapIcon(Icon.icon_folder_close) icon-folder-close</li>
            <li>@Html.BootstrapIcon(Icon.icon_folder_open) icon-folder-open</li>
            <li>@Html.BootstrapIcon(Icon.icon_resize_vertical) icon-resize-vertical</li>
            <li>@Html.BootstrapIcon(Icon.icon_resize_horizontal) icon-resize-horizontal</li>
            <li>@Html.BootstrapIcon(Icon.icon_hdd) icon-hdd</li>
            <li>@Html.BootstrapIcon(Icon.icon_bullhorn) icon-bullhorn</li>
            <li>@Html.BootstrapIcon(Icon.icon_bell) icon-bell</li>
            <li>@Html.BootstrapIcon(Icon.icon_certificate) icon-certificate</li>
            <li>@Html.BootstrapIcon(Icon.icon_thumbs_up) icon-thumbs-up</li>
            <li>@Html.BootstrapIcon(Icon.icon_thumbs_down) icon-thumbs-down</li>
            <li>@Html.BootstrapIcon(Icon.icon_hand_right) icon-hand-right</li>
            <li>@Html.BootstrapIcon(Icon.icon_hand_left) icon-hand-left</li>
            <li>@Html.BootstrapIcon(Icon.icon_hand_up) icon-hand-up</li>
            <li>@Html.BootstrapIcon(Icon.icon_hand_down) icon-hand-down</li>
            <li>@Html.BootstrapIcon(Icon.icon_circle_arrow_right) icon-circle-arrow-right</li>
            <li>@Html.BootstrapIcon(Icon.icon_circle_arrow_left) icon-circle-arrow-left</li>
            <li>@Html.BootstrapIcon(Icon.icon_circle_arrow_up) icon-circle-arrow-up</li>
            <li>@Html.BootstrapIcon(Icon.icon_circle_arrow_down) icon-circle-arrow-down</li>
            <li>@Html.BootstrapIcon(Icon.icon_globe) icon-globe</li>
            <li>@Html.BootstrapIcon(Icon.icon_wrench) icon-wrench</li>
            <li>@Html.BootstrapIcon(Icon.icon_tasks) icon-tasks</li>
            <li>@Html.BootstrapIcon(Icon.icon_filter) icon-filter</li>
            <li>@Html.BootstrapIcon(Icon.icon_briefcase) icon-briefcase</li>
            <li>@Html.BootstrapIcon(Icon.icon_fullscreen) icon-fullscreen</li>
        </ul>
    </div>
</div>
